/* 1. Declaração das Variaveis de Cores*/
:root{
    --cor-fundo: #f0f2f5;
    --cor-branco: #ffff; 
    --cor-texto-primario: #1c1e21;
    --cor-texto-secundario: #606770;
    --cor-borda: #dcdfe3;
    --cor-acento: #007bff;
}

/* 2. Reset e Estilos Globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: var(--cor-fundo);
    /* Daqui para baixo os comandos são para centralização do card  */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}